@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Cursos" asp-action="Index">Cursos</a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Precios" asp-action="Index">Precios</a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Comentarios" asp-action="Index">Comentarios</a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Instructores" asp-action="Index">Instructores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="CursosInstructores" asp-action="Index">Asignar Cursos e Instructores</a>
        </div>
    </li>

}

