@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Index";
}
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>

<h1>Lista de cursos disponibles</h1>

<p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="ajax-modal" data-target="#modal-Curso" data-url="@Url.Action("Create")"><i class="fas fa-plus"></i> Nuevo Curso</button>
</p>

<!-- table placeholder -->
<div id="table-placeholder">
    <partial name="_TablePartial" for="@Model" />
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        ///Mostrar Tooltip
        $(function () {
            $('[data-tooltip="tooltip"]').tooltip();

            $('#tablaCursos').dataTable({
                "language": {
                    "url": "/lib/datatables/i18n/spanish.json"
                }
            });

        });


    </script>
}